/*------------------Fuentes--------------------*/
@font-face{
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap);
}
h1, h2,  h4{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    }

p, u{
    font-family: 'Lora', serif;
}

.work,.p-grid,.read-more, h3,.price{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;

}
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
body{
    width: 95%;
    margin: auto;

}
/*------------------Menú--------------------*/
/*Coloqué varias clases para poder lograr cumplir con el resultado que podemos observar en el diseño suministrado por la empresa*/
.menu{
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 30px 0px ;
    
}
.menu li a{
    width: 40%;
    display: flex;
    text-decoration: none;
    padding-right: 40px;
    padding: 10px;
    font-size: 12px;
    color: black;
    margin-right: 20px;
}
.fa-shopping-cart{
    font-size: 15px;
}
.fa-bars{
    display: none;
    
}
nav a:hover{
    background-color: #529F0F;
    color: #fff;
}
/*------------------Logo en el header--------------------*/
.logo{
    margin-right:30%;
    align-self: center;
}
.img1{
    width: 70%;
    margin: 0;
    padding: 20px;
}
/*------------------USD--------------------*/
.usd{
    display: flex;
    font-size: 12px;
    cursor: pointer;
    padding: 30px;
}
/*------------------Imagen principal con titulo--------------------*/
h1{
    text-align: center;
    margin: 10px;
    font-size: 50px;
}
.principal{
    background-image: url(/img/slider-2.jpg);
    background-size: cover;
    background-position: center;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
/*----------------Card con ofertas--------------------*/
.container-oferta{
    display: flex;
    justify-content: center;
    margin: 70px;
    cursor: pointer;
}
.ofer1{
    background-image: url(/img/banner-1.png);
    background-size: cover;
    background-position: center;
    width: 420px;
    background-repeat: no-repeat;
    height: 200px;
    margin-right: 30px;
}
.oferta1{
    align-self: center;
}
    
.ofer2{
    background-image: url(/img/banner-2.png);
    background-size: cover;
    width: 420px;
    background-repeat: no-repeat;
    height: 200px;
}
.text-ofert{
margin: 70px 0px 0px 28px;
font-size: 32px;
color: #529F0F;
}
.work{
    font-size: 14px;
    color: #575757;
    margin-top: 14px;
}
/*------------------Primera sección de productos--------------------*/
.latest-products{
    background-image: url(/img/bg-1.jpg);
    background-size: cover;
    height: 600px;
}
.titulo-h2 {
    font-size: 35px;
    color: #333333;
    text-align: center;
}
.titulo-products,.new-products{
    font-family: 'Work Sans';
    text-align: center;
    padding-top: 80px;
    color: #333333;
}
.card-products{
    display: grid;
    grid-template-columns: repeat(4,200px );
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.producto{
    width: 220px;
    border: 1px solid #f0eaea ;
    cursor: pointer;
}
.titulo-product, del{
    color: #575757;
}
.titulo-product{
    font-size: 15px;
    margin: 10px 0px 10px 0px;
}
.price{
    font-size: 12px;
    color: #333;
    font-weight: 600;
}
/*----------------Productos con la el circulo de oferta--------------------*/
.img-producto{
    background-image:url(/img/product-1.jpg) ;
    width: 220px;
    height: 235px;
    align-self: center;
    background-size: cover;
    border: 1px solid #f0eaea ;
    cursor: pointer;
}
.img-producto1{
    background-image:url(/img/product-3.jpg) ;
    width: 220px;
    height: 235px;
    align-self: center;
    background-size: cover;
    border: 1px solid #f0eaea ;
    cursor: pointer;
}
.img-producto2{
    background-image:url(/img/product-7.jpg) ;
    width: 220px;
    height: 235px;
    align-self: center;
    background-size: cover;
    border: 1px solid #f0eaea ;
    cursor: pointer;
}
.img-producto3{
    background-image:url(/img/product-2.jpg) ;
    width: 220px;
    height: 235px;
    align-self: center;
    background-size: cover;
    border: 1px solid #f0eaea ;
    cursor: pointer;
}
.img-producto4{
    background-image:url(/img/product-6.jpg) ;
    width: 220px;
    height: 235px;
    align-self: center;
    background-size: cover;
    border: 1px solid #f0eaea ;
    cursor: pointer;
}
/*-----------------Promoción en productos--------------------*/
.oferta{
    color: #fff;
    margin: 10px;
    padding: 14px 3px;
    background: #529F0F;
    width: 40px;
    border-radius: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
/*-----------------Sección Hoja de té con cita--------------------*/
.hoja-te{
    text-align: center;
    font-size: 18px;
    color: #333;
    margin: 100px;
    padding-bottom:30px ;
}
.hoja-te{
    margin-bottom: 20px;
    text-align: center;
}
.hoja{
    margin-bottom: 20px;
    text-align: center;
    margin: 0%;

}
.gregory{
    font-size: 11px;
    font-family: 'Work Sans';
    font-weight: 600;
}
.customer{
    font-size:13px;
    color: #575757;
    
}
/*-----------------Sección nuevos productos, se le asignaron las mismas clases de la sección latest product, allí la razón por la cual no sale mas específico el css--------------------*/
.new-productss{
    background-color: #f3f2f2;
    height: 900px;
    
}
/*-----------------Formulario suscribirse--------------------*/
.form-suscribe{
    background-image: url(/img/bg-2.jpg);
    background-size: cover;
    text-align: center;
    height: 250px;
    padding-top: 120px;
}
.input-email{
    padding: 10px;
    width: 300px;
    background:none;
    border: #acaaaa 1px solid;
}
.input-email:hover{
    border: #529F0F 1px solid;
}
.input-button{
    display: flex;
    justify-content: center;
}
.suscribir{
    border: none;
    background-color: #000;
    color: #fff;
    padding: 20px 30px 20px 30px;
    font-size: 12px;
}
.suscribir:hover{
    background-color: #529F0F;
}
/*-----------------Sección latest news--------------------*/
.product-grid{
    display: grid;
    grid-template-columns: repeat(3,300px);
    column-gap: 20px;
    justify-content: center;
    color: #333;
}
.img-grid{
    width: 300px;
    cursor: pointer;
}
.news{
    padding: 60px 0px 50px 0px;
}
.latest-products-news{
    background-image: url(/img/bg-1.jpg);
    background-size: cover;
    height: 700px;
    align-content: center;
}

.fecha{
    color: #529F0F;
    font-size: 13px;
    font-weight: 600;

}
.p-grid{
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    margin: 10px 10px 10px 0px;
    color: #575757;
}
.read-more{
    font-size: 11px;
    color: #333;
    cursor: pointer;
}
/*-----------------Sección etiquetas de patrocinio o referencias--------------------*/
.grid-reference{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
.img-reference{
    margin: 20px;
    cursor: pointer;
}
/*-----------------Footer--------------------*/
h4{
    font-size:15px ;
    color: #333;
}
footer{
    background-color: #f3f2f2;
    padding-top: 50px;
}
.list-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #575757;
    margin: 0px 200px;
}
.footer-list{
    list-style: none;
    line-height: 35px;
    font-size: 12px;
    cursor: pointer;
}
.footer-end{
    display: flex;
    justify-content: space-around;
    background-color: rgb(228, 228, 228);
    padding: 20px 0px 15px 0px;
    align-self: center;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Lora';
    margin-top: 30px;
}
.fa-heart{
    color: red;
}
/*-----------------Media Query--------------------*/
@media (max-width: 780px) { 
    *{
        margin: 0;
    }

    body{
        width: 95%;
        margin: auto;
    }
    header{
        height: 70px;
    }
    nav{
        display: none;
    }
    .fa-bars{
        display: flex ;
        font-size: 20px;
        margin-left:10px ;
    }
    .logo{
        margin: 0px;
    }
    .img1{
        width: 120px;
    }
    .usd{
        margin-left: auto;
    }
    h1{
        text-align: center;
        font-size: 35px;
    }
    
    .principal{
        display: flex;
        width: 100%;
        height: 500px;
        margin-top: 0%;
    }
    .container-oferta{
        align-items: center;
        flex-direction: column;
        margin: 20px;
        justify-content: center;
        margin: auto;
    }
    .ofer1,.ofer2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0%;
        margin-bottom: 20px;
        width: 400px;
        height: 200px;
        
    }
    .text-ofert{
        margin: 80px 0px 0px 0px;
        line-height: 20px;
    }
    .work{
        font-size: 12px;
    }
    .latest-products{
        display: flex;
        width: 100%;
        height: 600px;
    }
    .card-products{
        display: flex;
    }
    .align-product, .titulo-products{
        margin: auto;
    }

    .titulo-h2{
        font-size: 25px;
        text-align: center;
    }
    .titulo-products,.new-products{
        padding-top: 40px;
    }
    .card-products{
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr) );
        align-content: center;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
    .producto, .img-producto, .img-prooducto1, .img-producto2, .img-producto3, .img-producto4 {
        width: 350px;
        background-position: center;
        height: 300px;
    }
    .form-suscribe{
        height: 180px;
        padding-top: 50px;
    }
    .input-email{
        width: 160px;
        
    }
    .suscribir{
        padding: 15px 10px 15px 10px;
        font-size: 11px;
    }
    .new-productss{
        height: 950px;
    }
    .display-none{
        display: none;
    }
    .product-grid{
        display: flex;
        flex-direction: column;
        margin-left: 20% ;
    }
    .img-grid{
        margin-top: 20px;
        width: 80%;
    }
    .latest-products-news{
        height: auto;
        padding: 20px;
        background-size: auto;
        
    }
    .p-grid{
        padding: 0;
        width: 50%;
    }
    .img-reference{
        padding: 0;
    }
    .grid-reference{
        margin:0px
    }
    .list-footer{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    h4{
        font-size: 20px;
    }
    .footer{
        margin-bottom: 20px;
    }
    .footer-list{
        line-height: 25px;
        margin-bottom: 20px;
        font-size: 15px;
        align-self: flex-start;
        margin-left: auto;
    }
    ul, .footer-list{
        margin: 0;
    }
    .footer-end{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}


@media (min-width: 1024px){

}